{
 ;:remote-repo {:git-url "https://github.com/adabwana/linear-discriminate-analysis"
 ;              :branch "master"}
 :quarto {:format
          {:html {:theme     {:dark  "cyborg"
                              :light "yeti"}
                  ;:number-sections false
                  :toc       true
                  :toc-depth 4}}
          ;:highlight-style       :nord
          :code-block-background true
          :base-target-path      "temp"                     ;what it do?
          :include-in-header     {:text "<link rel = \"icon\" href = \"data:,\" />"}}}